<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NoleggioVeicoloApplication.Business.Properties.Settings.ConnectionString"
            connectionString="Data Source=sqlserverprincipale.database.windows.net;Initial Catalog=Stage2022;Persist Security Info=True;User ID=utente;Password=Safo2022!" />
    </connectionStrings>
</configuration>