<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NoleggioVeicoliApplication.Business.Properties.Settings.ARCAConnection"
            connectionString="Data Source=sqlserverprincipale.database.windows.net;Initial Catalog=ARCA;User ID=utente;Password=Safo2022!" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>